<!-- <div class="row">
  <div class="col-12 text-center mt-3">
    <h2 class="text-center pt-2 pb-2 section-heading">WHO ARE WE ?</h2> -->
<!-- <mat-divider></mat-divider> -->
<!-- <div class="row mt-3"> -->
<!-- <div class="col-lg-1">
        <div class="row">
          <div class="col-4 mt-lg-5 mt-0 col-lg-12">
            <h2
              style="color: var(--primary)"
              [countUp]="10"
              [duration]="1000"
            ></h2>
            <h6>INDUSTRIES</h6>
          </div>
          <div class="col-4 mt-lg-5 mt-0 col-lg-12">
            <h2
              style="color: var(--primary)"
              [countUp]="10"
              [duration]="1000"
            ></h2>
            <h6>Unique Cases</h6>
          </div>
          <div class="col-4 mt-lg-5 mt-0 col-lg-12">
            <h2
              style="color: var(--primary)"
              [countUp]="10"
              [duration]="1000"
              [text]="' +'"
            ></h2>
            <h6>BRANDS</h6>
          </div>
        </div>
      </div> -->
<!-- <div class="col-lg-12 text-center">
        <iframe
          src="https://www.youtube.com/embed/ztUgXz-PfY4"
          frameborder="0"
          allowfullscreen
          style="width: 80%; height: 70vh"
          class="mt-2"
        >
        </iframe>
      </div> -->
<!-- <div class="col-lg-1">
        <div class="row">
          <div class="col-4 mt-lg-5 mt-0 col-lg-12">
            <h2
              style="color: var(--primary)"
              [countUp]="10"
              [duration]="1000"
            ></h2>
            <h6>INDUSTRIES</h6>
          </div>
          <div class="col-4 mt-lg-5 mt-0 col-lg-12">
            <h2
              style="color: var(--primary)"
              [countUp]="10"
              [duration]="1000"
            ></h2>
            <h6>Unique Cases</h6>
          </div>
          <div class="col-4 mt-lg-5 mt-0 col-lg-12">
            <h2
              style="color: var(--primary)"
              [countUp]="10"
              [duration]="1000"
              [text]="' +'"
            ></h2>
            <h6>BRANDS</h6>
          </div>
        </div>
      </div> -->
<!-- </div>
  </div>
</div> -->
<!-- <div class="container-fluid">
  <iframe
    src="https://www.youtube.com/embed/ztUgXz-PfY4"
    frameborder="0"
    allowfullscreen
    style="width: 80%; height: 70vh"
    class="mt-2"
  >
  </iframe>
</div> -->
<div class="container-fluid" style="position: sticky; top: 0">
  <div
    class="row pt-2 align-items-center text-center"
    style="background-color: black; min-height: 92vh; max-height: 92vh"
  >
    <h2 class="">
      <h1 style="color: var(--primary)" class="m-5">WHO ARE WE ?</h1>
      <p class="typewriter" style="color: white">
        Your customised Google for all your business decisions.
      </p>
    </h2>
  </div>
</div>

<div class="container-fluid" style="position: sticky">
  <div class="row pb-4" style="background-color: white">
    <h2 class="text-center pt-2 pb-2 section-heading sticky-top">
      WHAT WE CAN DO FOR YOU ?
    </h2>
    <h2 class="text-center typewriter" style="color: var(--primary)">
      Make Better Marketing Decisions
    </h2>
    <div class="col-12">
      <div class="row">
        <div class="col-md-4 products mt-4 text-center">
          <div class="card w-100" style="z-index: 0">
            <div class="card-body">
              <div class="card-title">Customer Targeting Decisions</div>
            </div>
          </div>
        </div>
        <div class="col-md-4 products mt-4 text-center">
          <div class="card w-100">
            <div class="card-body">
              <div class="card-title">Product Positioning Decisions</div>
            </div>
          </div>
        </div>
        <div class="col-md-4 products mt-4 text-center">
          <div class="card w-100">
            <div class="card-body">
              <div class="card-title">Marketing Distribution Decisions</div>
            </div>
          </div>
        </div>
        <div class="col-md-4 products mt-4 text-center">
          <div class="card w-100">
            <div class="card-body">
              <div class="card-title">Marketing Growth Decisions</div>
            </div>
          </div>
        </div>
        <div class="col-md-4 products mt-4 text-center">
          <div class="card w-100">
            <div class="card-body">
              <div class="card-title">Personal Branding Strategy</div>
            </div>
          </div>
        </div>
        <div class="col-md-4 products mt-4 text-center">
          <div class="card w-100">
            <div class="card-body">
              <div class="card-title">New Product Launch Strategy</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" style="position: sticky">
  <div class="row pb-4" style="background-color: black">
    <h2 class="text-center pt-2 pb-2 section-heading sticky-top" style="top: 0">
      CASE STUDIES HIGHLIGHTS
    </h2>
    <!-- <h2 class="text-center typewriter" style="color: var(--primary)">
      Make Better Marketing Decisions
    </h2> -->
    <div class="col-12">
      <div class="row">
        <div class="col-md-6 features mt-4 text-center">
          <div class="card w-100">
            <div class="card-body">
              <div class="card-title">Customer Targeting Decisions</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
